<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/user_assets/img/banner/Watches\ In\ Orbit.jpeg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        #login-container {
            background-color: rgba(255, 255, 255, 0.103);
            padding: 30px;
            border-radius: 8px;
            width: 300px;
            text-align: center;          
        }

        #login-container h5 {
            margin-bottom: 20px;
        }

        #login-container h2 {
            margin-bottom: 20px;
        }

        #login-container .form-group {
            margin-bottom: 15px;
            color:  rgb(254, 12, 12);
        }

        #login-container button {
            margin-top: 15px;
            background: rgb(240, 182, 7);
            width: 100px;
        }

        @media (min-width: 768px) {
            /* Medium devices and above */
            #login-container {
                margin-left: auto;
                margin-right: auto;
            }
        }

        @media (min-width: 992px) {
            /* Large devices and above */
            #login-container {
                margin-left: 900px;
                margin-right: 0;
            }
        }
    </style>
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4" id="login-container">
                <h5>Timezone</h5>
                <h2>change password</h2>
                <form action="/confirm_password" method="post">
                    <div class="form-group">
                        Create new password
                        <input type="password" name="newPassword" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        Confirm Password
                        <input type="password"  name="confirmPassword" class="form-control" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-success ">Login</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies (jQuery and Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>